.progress-container {
    width: 100%;
    border-radius: 5px;
    height: 24px;
    background-color: beige;
  }

.progress-bar {
    position: relative;
    width: 500px;
    height: 3em;
    border-radius: 5px;
    background-color: bisque;
    color: white;
}



